/* SASS VARIABLES */

$darkest-grey: #1E1E1E;
$dark-grey: #232323;
$medium-grey: #2C2C2C;
$box-shadow: rgba(0,0,0,.5);
$green: #51AA34;
$green-glow: rgba(81, 107, 53, .75);
$red-glow: rgba(154, 24, 19, .5);


/* SYMANTIC COMPONENTS */

body{
  background-color: $darkest-grey;
  margin: 0!important;
}

header{
  grid-column: 1 / 13;
  background-color: $dark-grey;
  height: 10vh;
  padding: 0;
  margin: 0;
  padding: 0!important;
}

main{
  grid-column: 3 / 11;

}

.notification-dock{
  grid-column: 1 / 3;
  height: 90vh;
  grid-row: 2;
  padding: 10px;
}

/* UNIVERSAL COMPONENTS */

.box-shadow{
    box-shadow: 0px 0px 4px $box-shadow;
}

.border-radius{
  border-radius: 4px;
}

.profile-pic-container{
  position: relative;
}

.profile-active{
  border-radius: 100%;
  background-color: #51AA34;
  height: 15px;
  width: 15px;
  position: absolute;
  top: 65px;
  left: 19%;
  box-shadow: 0px 0px 2px 2px #51AA34;
}

.user-info{
  li{
  color: white;
  font-family: 'Rajdhani', sans-serif;
}
}

.toggle-button{
  button{
  background-color: rgba(0,0,0,0);
  color: white;
  border: none;
  font-family: Rajdhani;
  font-size: 18px;
  text-decoration: underline;
  padding-left: 0;
  cursor: pointer;
}
button:active{
  outline: none;
}
button:hover{
  text-decoration: underline;
}
}

.notification{
display: none;
}

.notification-2{
display: none;
}

.glow-red{
  box-shadow: 0 0 3px 3px rgba(154, 24, 19, .5);

}



/* GRID LAYOUT */

.grid-container{

  grid-template-columns: 1fr 125px 125px 125px 125px 125px 125px 125px 125px 125px 125px 1fr;
  padding: 0!important;
  display: grid;

}

/* COMPONENTS */

.post-card{
  transition: .5s ease;
  background-image: url('../images/ror/background.jpg');
  background-position: center;
  margin-top: 15px;
  display: grid;
  /*
  grid-template-columns: repeat(12, 1fr);
  */
  grid-template-columns: 1fr 1fr 1fr 65px 65px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 0px 65px;
  height: auto;


  .toggle-stats{
    display: none;
  }

.overlay{
background-color: black;
opacity: .75;
grid-column: 4 / 13;
grid-row: 1 / 3;
z-index: 1;

}

.id{
  grid-column: 1 / 4;
  background-color: $medium-grey;
  border-radius: 3px 0 0 0;
  height: 100%;
padding-left: 10px;
grid-row: 1;
position: relative;

.user-profile-pic{
  margin-top: 20px;
  border-radius: 100%;
  width: 25%;
  border: 1px solid #707070;
  float: left;
}

ul{
  list-style: none;
  padding: 0;
  margin: 30px 0 0 10px;
  display: inline-block;
  width: 55%;
  float: left;
  li:nth-child(1){
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400!important;
    font-size: 20px;
  }
  li:nth-child(2){
    font-family: 'Rajdhani', sans-serif;
    font-size: 14px;
    font-weight: 300;
  }
}

.game-logo-container{
width: 100%;
display: inline-block;

img{
    display: inline-block;
    width: 75%;
    margin-left: 10px;
    margin-top: 30px;
  }
}

/*action content box 1-open*/

#notification-challenge{
  height: 6.5em;
  background-color: rgba(20,20,20,1);
  font-family: Rajdhani;
  color: white;
  font-size: 1.2em;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0px;




  img{
  width: 18%;
    padding-left:5%;
    margin-top: 2.25em;
    margin-bottom: 0;
    float: left;
  }

  h4{
    text-align: center;
    padding: 8% 0 0 5%;

    margin-bottom: .5em;
    margin-top: .5em;
    float: left;
  }
  button{
    background-color: rgba(0,0,0,0);
    border: none;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  a{
    color: white;
    padding-left: 5%;
  }

  .indicator-1 {
       width: 0;
       height: 0;
       border-left: 10px solid transparent;
       border-right: 10px solid transparent;
       border-top: 20px solid rgba(20,20,20,1);
       position: absolute;
       z-index: 5;
       bottom: -12.5px;
       left: 25px;

     }
}



/*action content box 1-close*/

}
}

.character-column{
  grid-column: 4 / 6;
  grid-row: 1;
  z-index: 1;

  img{
    width: 80%;
    margin: 10%;
  }
}

.stats{
  grid-column: 6 / 10;
  grid-row: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
  z-index: 1;
  font-family: 'Rajdhani', sans-serif;
  font-size: 18px;
  overflow: hidden;

li{
  padding: .25em;
  display: inline-block;
  float: left;
  a{
    color: white;
  }
}
.full-line{
  width: 100%;
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
}
  .stat-left{
    text-align: left;
    width: 70%;
  }

  .bold{
    font-weight: 700;
  }

  .stat-right{
text-align: right!important;
width: 20%;
font-family: 'Rajdhani', sans-serif;
font-weight: 700;
  }
}

.overlay-2{
  background-color: rgba(0,0,0,.6);
}

#toggle-stat-display{

}

.toggle-stat-display{
  grid-template-rows: 217px 0 65px;
  height: auto;

.toggle-stats{
  display: block;
}
}


.toggle-link{
    grid-column: 6 / 10;
    grid-row: 1;
    z-index: 1;
    position: absolute;
}

.stats-2{
  grid-column: 6 / 10;
  grid-row: 2 / 3;
  list-style: none;
  margin-top: -1.85em;
  padding: 0;
  color: white;
  z-index: 1;
  font-family: 'Rajdhani', sans-serif;
  font-size: 18px;

  .stat-left{
    text-align: left;
    width: 70%!important;
  }

  .bold{
    font-weight: 700;
  }

  .stat-right{
text-align: right!important;
width: 20%;
font-family: 'Rajdhani', sans-serif;
font-weight: 700;
  }

  li{
    padding: .25em;
    display: inline-block;
    float: left;
    a{
      color: white;
    }

  }


}

h3{
  font-family: 'Rajdhani', sans-serif;
  padding: 0;
  text-transform: uppercase;
  color: white;
  margin: 1em 0 1em 0;
  grid-row: 1;
  z-index: 1;
}

.items-collected{
  grid-column: 10 / 13;
  grid-row: 1;
  z-index: 1;

ul{
  height: auto;
  list-style: none;
  padding: 0 0 0 15px;
  margin: 0 0 0 0;
  border-left: 1px solid white;
  overflow: hidden;
  .items-collected-title{
    width: 100%;
  }
  li{
    width: 19%;
    height: 55px;
    margin-top: 5px;
    float: left;
    position: relative;
    img{
      width: 100%;
      position: absolute;
    }
    p{
      position: absolute;
      bottom: -7px;
      right: 5px;
      font-family: 'Rajdhani', sans-serif;
      font-weight: 800;
      color: white;
    }
  }
}
}

.toggle-stat-display{
.items-collected{
  ul{
    height: 125px;
  }
}
}

.social-bar{
  background-color: $dark-grey;
  grid-column: 1 / 13;
  grid-row: 3;
  border-radius: 0 0 3px 3px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  a{
    height: 65%;
    position: absolute;
    margin-top: 9px;
    right: 10px;
    img{
      height: 100%;

    }
  }

form{
        grid-column: 4 / 11;
        display: inline-block;
        grid-row: 1;
        position: relative;
        margin-left: .75em;

}
  .textarea{
    padding: .75em;
    margin-top: 15px;
    background-color: $medium-grey;
    color: white;
    border-radius: 3px;
    height: 15px;
    width: 460px;
    outline: none;
    border: 1px solid grey;
    display: inline-block;
  }

 .textarea:focus{
   outline-color: $green!important;
 }
}

.post{
  background-color: $dark-grey;
  color: white;
  border-radius: 3px;
display: inline-block;
position: absolute;
top: 15px;
border: .1px solid grey;
height: 35px;
padding: 0 4em 0 4em;
margin-left: 10px;
box-shadow: 0 0 3px 3px rgba(0,0,0,.15);
transition: animation .5s ease;
}

.post:hover{
  animation: hoverglow 4s infinite;
  box-shadow: 0 0 2px 2px $green-glow;
}

.post:focus{
  outline: 1px solid $green-glow;
}

@keyframes hoverglow{
  0% {  box-shadow: 0 0 0 0 $green-glow;}
  25% {box-shadow: 0 0 2px 2px $green-glow;}
  50% {  box-shadow: 0 0 1px 1px $green-glow;}
  75% {box-shadow: 0 0 2px 2px $green-glow;}
  100% {  box-shadow: 0 0 0 0 $green-glow;}
}

/* EMOJI BOX */
.emoji-box{
  grid-column: 11 / 13;
height: 250px;
position: relative;
}

.emoji-container{
  background-color: $medium-grey;
  padding: 10px;
  margin: 15px 15px 0 15px;
  height: 100%;
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 12.5px solid transparent;
    border-right: 25px solid $medium-grey;
    border-bottom: 12.5px solid transparent;
    position: absolute;
    top: 250px;
  }

.emoji-display{
  display: none;
}

#toggle-stat-display-2{
  .toggle-stat-display-2{

    grid-template-rows: 217px auto 55px;

  .toggle-stats{
    display: block;
  }
  }
}
.action-1{
  background-color: $dark-grey!important;
  color: white;
  border-radius: 3px;
  display: inline-block;
  position: absolute;
  top: 15px;
  border: .1px solid grey;
  height: 35px;
  width: 48px;
  margin-left: 10px;
  box-shadow: 0 0 3px 3px rgba(0,0,0,.15);
  transition: all .5s ease;

img{
  width: auto;
  height: 20px;
  position: absolute;
  left: 11px;
  bottom: 5px;
}
}

.action-1:hover{
  animation-name: hoverglow 4s infinite;
  box-shadow: 0 0 2px 2px $red-glow;
}

.action-1:focus{
 box-shadow: 0 0 2px 2px $red-glow;
 outline: none;
}

.action-2{
  background-color: $dark-grey;
  color: white;
  border-radius: 3px;
  display: inline-block;
  position: absolute;
  top: 15px;
  border: .1px solid grey;
  height: 35px;
  width: 48px;
  margin-left: 68px;
  box-shadow: 0 0 3px 3px rgba(0,0,0,.15);
  transition: all .5s ease;

img{
  width: auto;
  height: 20px;
  position: absolute;
  left: 10px;
  bottom: 5px;
}
}

.action-2:hover{
  animation-name: hoverglow 4s infinite;
  box-shadow: 0 0 2px 2px $green-glow;
}

.action-2:focus{
 box-shadow: 0 0 2px 2px $green-glow;
 outline: none;
}

.action-1{
  background-color: $dark-grey;
  color: white;
  border-radius: 3px;
  display: inline-block;
  position: absolute;
  top: 15px;
  border: .1px solid grey;
  height: 35px;
  width: 48px;
  margin-left: 10px;
  box-shadow: 0 0 3px 3px rgba(0,0,0,.15);
  transition: all .5s ease;

img{
  width: auto;
  height: 20px;
  position: absolute;
  left: 11px;
  bottom: 5px;
}
}

.action-1:hover{
  animation-name: hoverglow 4s infinite;
  box-shadow: 0 0 2px 2px $red-glow;
}

.action-3{
  background-color: $dark-grey;
  color: white;
  border-radius: 3px;
  display: inline-block;
  position: absolute;
  top: 15px;
  border: .1px solid grey;
  height: 35px;
  width: 48px;
  margin-left: 127px;
  box-shadow: 0 0 3px 3px rgba(0,0,0,.15);
  transition: all .5s ease;

img{
  width: auto;
  height: 20px;
  position: absolute;
  left: 10px;
  bottom: 5px;
}
}

.action-3:hover{
  animation-name: hoverglow 4s infinite;
  box-shadow: 0 0 2px 2px $green-glow;
}

.action-4{
  background-color: $dark-grey;
  color: white;
  border-radius: 3px;
  display: inline-block;
  position: absolute;
  top: 15px;
  border: .1px solid grey;
  height: 35px;
  width: 48px;
  margin-left: 185px;
  box-shadow: 0 0 3px 3px rgba(0,0,0,.15);
  transition: all .5s ease;

img{
  width: auto;
  height: 20px;
  position: absolute;
  left: 10px;
  bottom: 5px;
}
}

.action-4:hover{
  animation-name: hoverglow 4s infinite;
  box-shadow: 0 0 2px 2px $green-glow;
}

/* ID Tags */




#notification-video{

  height: 6em;
  background-color: $medium-grey;
  font-family: Rajdhani;
  color: white;
  font-size: 1.2em;
  position: relative;
  margin-bottom: 5px;
  margin-top: 5px;


  img{
  width: 25%;
    padding-left:37.5%;
    padding-right: 37.5%;
    margin-top: 1em;
  }
  h4{
    text-align: center;
    padding: 0;
    margin-bottom: .5em;
    margin-top: .5em;
  }
  button{
    background-color: rgba(0,0,0,0);
    border: none;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
  }
}
