/* SASS VARIABLES */
/* SYMANTIC COMPONENTS */
body {
  background-color: #1E1E1E;
  margin: 0 !important; }

header {
  grid-column: 1 / 13;
  background-color: #232323;
  height: 10vh;
  padding: 0;
  margin: 0;
  padding: 0 !important; }

main {
  grid-column: 3 / 11; }

.notification-dock {
  grid-column: 1 / 3;
  height: 90vh;
  grid-row: 2;
  padding: 10px; }

/* UNIVERSAL COMPONENTS */
.box-shadow {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5); }

.border-radius {
  border-radius: 4px; }

.profile-pic-container {
  position: relative; }

.profile-active {
  border-radius: 100%;
  background-color: #51AA34;
  height: 15px;
  width: 15px;
  position: absolute;
  top: 65px;
  left: 19%;
  box-shadow: 0px 0px 2px 2px #51AA34; }

.user-info li {
  color: white;
  font-family: 'Rajdhani', sans-serif; }

.toggle-button button {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  font-family: Rajdhani;
  font-size: 18px;
  text-decoration: underline;
  padding-left: 0;
  cursor: pointer; }
.toggle-button button:active {
  outline: none; }
.toggle-button button:hover {
  text-decoration: underline; }

.notification {
  display: none; }

.notification-2 {
  display: none; }

/* GRID LAYOUT */
.grid-container {
  grid-template-columns: 1fr 125px 125px 125px 125px 125px 125px 125px 125px 125px 125px 1fr;
  padding: 0 !important;
  display: grid; }

/* COMPONENTS */
.post-card {
  background-image: url("../images/ror/background.jpg");
  background-position: center;
  margin-top: 15px;
  display: grid;
  /*
  grid-template-columns: repeat(12, 1fr);
  */
  grid-template-columns: 1fr 1fr 1fr 65px 65px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 0px 65px;
  height: auto; }
  .post-card .toggle-stats {
    display: none; }
  .post-card .overlay {
    background-color: black;
    opacity: .75;
    grid-column: 4 / 13;
    grid-row: 1 / 3;
    z-index: 1; }
  .post-card .id {
    grid-column: 1 / 4;
    background-color: #2C2C2C;
    border-radius: 3px 0 0 0;
    height: 100%;
    padding-left: 10px;
    grid-row: 1;
    position: relative;
    /*action content box 1-open*/
    /*action content box 1-close*/ }
    .post-card .id .user-profile-pic {
      margin-top: 20px;
      border-radius: 100%;
      width: 25%;
      border: 1px solid #707070;
      float: left; }
    .post-card .id ul {
      list-style: none;
      padding: 0;
      margin: 30px 0 0 10px;
      display: inline-block;
      width: 55%;
      float: left; }
      .post-card .id ul li:nth-child(1) {
        font-family: 'Rajdhani', sans-serif;
        font-weight: 400 !important;
        font-size: 20px; }
      .post-card .id ul li:nth-child(2) {
        font-family: 'Rajdhani', sans-serif;
        font-size: 14px;
        font-weight: 300; }
    .post-card .id .game-logo-container {
      width: 100%;
      display: inline-block; }
      .post-card .id .game-logo-container img {
        display: inline-block;
        width: 75%;
        margin-left: 10px;
        margin-top: 30px; }
    .post-card .id #notification-challenge {
      height: 6.5em;
      background-color: #141414;
      font-family: Rajdhani;
      color: white;
      font-size: 1.2em;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0px; }
      .post-card .id #notification-challenge img {
        width: 18%;
        padding-left: 5%;
        margin-top: 2.25em;
        margin-bottom: 0;
        float: left; }
      .post-card .id #notification-challenge h4 {
        text-align: center;
        padding: 8% 0 0 5%;
        margin-bottom: .5em;
        margin-top: .5em;
        float: left; }
      .post-card .id #notification-challenge button {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: white;
        position: absolute;
        top: 10px;
        left: 10px; }
      .post-card .id #notification-challenge a {
        color: white;
        padding-left: 5%; }
      .post-card .id #notification-challenge .indicator-1 {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid #141414;
        position: absolute;
        z-index: 5;
        bottom: -12.5px;
        left: 25px; }

.character-column {
  grid-column: 4 / 6;
  grid-row: 1;
  z-index: 1; }
  .character-column img {
    width: 80%;
    margin: 10%; }

.stats {
  grid-column: 6 / 10;
  grid-row: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
  z-index: 1;
  font-family: 'Rajdhani', sans-serif;
  font-size: 18px;
  overflow: hidden; }
  .stats li {
    padding: .25em;
    display: inline-block;
    float: left; }
    .stats li a {
      color: white; }
  .stats .full-line {
    width: 100%;
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0; }
  .stats .stat-left {
    text-align: left;
    width: 70%; }
  .stats .bold {
    font-weight: 700; }
  .stats .stat-right {
    text-align: right !important;
    width: 20%;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700; }

.overlay-2 {
  background-color: rgba(0, 0, 0, 0.6); }

.toggle-stat-display {
  grid-template-rows: 217px 0 65px;
  height: auto; }
  .toggle-stat-display .toggle-stats {
    display: block; }

.toggle-link {
  grid-column: 6 / 10;
  grid-row: 1;
  z-index: 1;
  position: absolute; }

.stats-2 {
  grid-column: 6 / 10;
  grid-row: 2 / 3;
  list-style: none;
  margin-top: -1.85em;
  padding: 0;
  color: white;
  z-index: 1;
  font-family: 'Rajdhani', sans-serif;
  font-size: 18px; }
  .stats-2 .stat-left {
    text-align: left;
    width: 70% !important; }
  .stats-2 .bold {
    font-weight: 700; }
  .stats-2 .stat-right {
    text-align: right !important;
    width: 20%;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700; }
  .stats-2 li {
    padding: .25em;
    display: inline-block;
    float: left; }
    .stats-2 li a {
      color: white; }

h3 {
  font-family: 'Rajdhani', sans-serif;
  padding: 0;
  text-transform: uppercase;
  color: white;
  margin: 1em 0 1em 0;
  grid-row: 1;
  z-index: 1; }

.items-collected {
  grid-column: 10 / 13;
  grid-row: 1;
  z-index: 1; }
  .items-collected ul {
    height: auto;
    list-style: none;
    padding: 0 0 0 15px;
    margin: 0 0 0 0;
    border-left: 1px solid white;
    overflow: hidden; }
    .items-collected ul .items-collected-title {
      width: 100%; }
    .items-collected ul li {
      width: 19%;
      height: 55px;
      margin-top: 5px;
      float: left;
      position: relative; }
      .items-collected ul li img {
        width: 100%;
        position: absolute; }
      .items-collected ul li p {
        position: absolute;
        bottom: -7px;
        right: 5px;
        font-family: 'Rajdhani', sans-serif;
        font-weight: 800;
        color: white; }

.toggle-stat-display .items-collected ul {
  height: 125px; }

.social-bar {
  background-color: #232323;
  grid-column: 1 / 13;
  grid-row: 3;
  border-radius: 0 0 3px 3px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }
  .social-bar a {
    height: 65%;
    position: absolute;
    margin-top: 9px;
    right: 10px; }
    .social-bar a img {
      height: 100%; }
  .social-bar form {
    grid-column: 4 / 11;
    display: inline-block;
    grid-row: 1;
    position: relative;
    margin-left: .75em; }
  .social-bar .textarea {
    padding: .75em;
    margin-top: 15px;
    background-color: #2C2C2C;
    color: white;
    border-radius: 3px;
    height: 15px;
    width: 460px;
    outline: none;
    border: 1px solid grey;
    display: inline-block; }
  .social-bar .textarea:focus {
    outline-color: #51AA34 !important; }

.post {
  background-color: #2C2C2C;
  color: white;
  border-radius: 3px;
  display: inline-block;
  position: absolute;
  top: 15px;
  border: .1px solid grey;
  height: 35px;
  padding: 0 4em 0 4em;
  margin-left: 10px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.15);
  transition: animation .5s ease; }

.post:hover {
  animation: hoverglow 4s infinite;
  box-shadow: 0 0 2px 2px rgba(81, 107, 53, 0.75); }

.post:focus {
  outline: 1px solid rgba(81, 107, 53, 0.75); }

@keyframes hoverglow {
  0% {
    box-shadow: 0 0 0 0 rgba(81, 107, 53, 0.75); }
  25% {
    box-shadow: 0 0 2px 2px rgba(81, 107, 53, 0.75); }
  50% {
    box-shadow: 0 0 1px 1px rgba(81, 107, 53, 0.75); }
  75% {
    box-shadow: 0 0 2px 2px rgba(81, 107, 53, 0.75); }
  100% {
    box-shadow: 0 0 0 0 rgba(81, 107, 53, 0.75); } }
/* EMOJI BOX */
.emoji-box {
  grid-column: 11 / 13;
  height: 250px;
  position: relative; }

.emoji-container {
  background-color: #2C2C2C;
  padding: 10px;
  margin: 15px 15px 0 15px;
  height: 100%; }

.triangle-left {
  width: 0;
  height: 0;
  border-top: 12.5px solid transparent;
  border-right: 25px solid #2C2C2C;
  border-bottom: 12.5px solid transparent;
  position: absolute;
  top: 250px; }

.emoji-display {
  display: none; }

#toggle-stat-display-2 .toggle-stat-display-2 {
  grid-template-rows: 217px auto 55px; }
  #toggle-stat-display-2 .toggle-stat-display-2 .toggle-stats {
    display: block; }

.action-1 {
  background-color: #2C2C2C;
  color: white;
  border-radius: 3px;
  display: inline-block;
  position: absolute;
  top: 15px;
  border: .1px solid grey;
  height: 35px;
  width: 48px;
  margin-left: 10px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.15);
  transition: all .5s ease; }
  .action-1 img {
    width: auto;
    height: 20px;
    position: absolute;
    left: 11px;
    bottom: 5px; }

.action-1:hover {
  animation-name: hoverglow 4s infinite;
  box-shadow: 0 0 2px 2px rgba(154, 24, 19, 0.5); }

.action-1:focus {
  box-shadow: 0 0 2px 2px rgba(154, 24, 19, 0.5);
  outline: none; }

.action-2 {
  background-color: #2C2C2C;
  color: white;
  border-radius: 3px;
  display: inline-block;
  position: absolute;
  top: 15px;
  border: .1px solid grey;
  height: 35px;
  width: 48px;
  margin-left: 68px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.15);
  transition: all .5s ease; }
  .action-2 img {
    width: auto;
    height: 20px;
    position: absolute;
    left: 10px;
    bottom: 5px; }

.action-2:hover {
  animation-name: hoverglow 4s infinite;
  box-shadow: 0 0 2px 2px rgba(81, 107, 53, 0.75); }

.action-2:focus {
  box-shadow: 0 0 2px 2px rgba(81, 107, 53, 0.75);
  outline: none; }

.action-1 {
  background-color: #2C2C2C;
  color: white;
  border-radius: 3px;
  display: inline-block;
  position: absolute;
  top: 15px;
  border: .1px solid grey;
  height: 35px;
  width: 48px;
  margin-left: 10px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.15);
  transition: all .5s ease; }
  .action-1 img {
    width: auto;
    height: 20px;
    position: absolute;
    left: 11px;
    bottom: 5px; }

.action-1:hover {
  animation-name: hoverglow 4s infinite;
  box-shadow: 0 0 2px 2px rgba(154, 24, 19, 0.5); }

.action-3 {
  background-color: #2C2C2C;
  color: white;
  border-radius: 3px;
  display: inline-block;
  position: absolute;
  top: 15px;
  border: .1px solid grey;
  height: 35px;
  width: 48px;
  margin-left: 127px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.15);
  transition: all .5s ease; }
  .action-3 img {
    width: auto;
    height: 20px;
    position: absolute;
    left: 10px;
    bottom: 5px; }

.action-3:hover {
  animation-name: hoverglow 4s infinite;
  box-shadow: 0 0 2px 2px rgba(81, 107, 53, 0.75); }

.action-4 {
  background-color: #2C2C2C;
  color: white;
  border-radius: 3px;
  display: inline-block;
  position: absolute;
  top: 15px;
  border: .1px solid grey;
  height: 35px;
  width: 48px;
  margin-left: 185px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.15);
  transition: all .5s ease; }
  .action-4 img {
    width: auto;
    height: 20px;
    position: absolute;
    left: 10px;
    bottom: 5px; }

.action-4:hover {
  animation-name: hoverglow 4s infinite;
  box-shadow: 0 0 2px 2px rgba(81, 107, 53, 0.75); }

/* ID Tags */
#notification-video {
  height: 6em;
  background-color: #2C2C2C;
  font-family: Rajdhani;
  color: white;
  font-size: 1.2em;
  position: relative;
  margin-bottom: 5px;
  margin-top: 5px; }
  #notification-video img {
    width: 25%;
    padding-left: 37.5%;
    padding-right: 37.5%;
    margin-top: 1em; }
  #notification-video h4 {
    text-align: center;
    padding: 0;
    margin-bottom: .5em;
    margin-top: .5em; }
  #notification-video button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px; }

/*# sourceMappingURL=style.css.map */
